.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  h1 {
    font-size: 6rem;
    color: #646cff;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .back-home-link {
    padding: 10px 20px;
    background-color: #646cff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .back-home-link:hover {
    background-color: #535bf2;
  }
  